body {
    font-size: small;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 2px;
}

a {
    color: darkslategray;
    text-decoration: none;
}

img {
    max-width: 100%;
}

article {
    border: darkgrey solid 1px;
    border-radius: 10px;
    padding: 0 5px 5px;
    word-wrap: normal;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin: 0;
}

hr {
    border: darkgrey dashed 1px;
}

footer {
    margin: 4px;
}

blockquote {
    color: #464646;
    font-style: italic;
    border: darkgrey dotted 1px;
    border-radius: 5px;
    margin: 5px 0;
    padding-left: 10px;
    max-width: 90%;
}

code {
    background-color: aliceblue;
    padding: 2px;
    font-family: Monaco, monospace
}

pre > code {
    background-color: dimgray;
}

pre {
    background-color: dimgray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    white-space: pre;
    word-wrap: normal;
    font-family: Monaco, monospace;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

td {
    white-space: pre-wrap;
}

h2:before {
    content: "📎 ";
}

h3:before {
    content: "☕️ ";
}

h4:before {
    content: "🍃 ";
}

h5:before {
    content: "✈️️ ";
}

h6:before {
    content: "☁️ ";
}

ul.entries {
    padding: 0 0 0 15px;
}

ul.tags > li, ul.categories > li {
    list-style: none;
}

ul.tags, ul.categories {
    padding: 0;
}

.invisible-inline-on-wide {
    display: inline;
}

.invisible-block-on-wide {
    display: inline;
}

.visible-inline-on-wide {
    display: none;
}

.visible-block-on-wide {
    display: none;
}

/* only for wide screen */
@media (min-width: 700px) {
    body {
        margin: 20px;
    }

    article {
        padding: 0 10px 10px;
    }

    pre {
        max-width: 90%;
    }

    img {
        max-width: 90%;
    }

    ul.entries {
        padding: 0;
    }

    ul.entries > li {
        list-style: none;
    }

    .invisible-inline-on-wide {
        display: none;
    }

    .invisible-block-on-wide {
        display: none;
    }

    .visible-inline-on-wide {
        display: inline;
    }

    .visible-block-on-wide {
        display: block;
    }
}