<html lang="ja" data-layout-decorate="~{layout}">
<head>
    <title>BLOG.IK.AM - [[${entry.frontMatter.title}]]</title>
    <meta data-th-content="${entry.frontMatter.title}" name="twitter:description"/>
    <meta data-th-content="${'BLOG.IK.AM - ' + entry.frontMatter.title}" name="twitter:title"/>
    <meta data-th-content="${'Author: ' + entry.created.name + ', Category: ' + entry.frontMatter.categories}"
          name="Description"/>
</head>
<body>
<div data-layout-fragment="content">
    <article>
        <h2>
            <a data-th-href="@{'/entries/' + ${entry.entryId}}">[[${entry.frontMatter.title}]]</a>
            <a data-th-unless="${entry.premium}"
               data-th-href="${'http://b.hatena.ne.jp/entry/https://blog.ik.am/entries/' + entry.entryId}">
                <img data-th-src="${'https://b.hatena.ne.jp/entry/image/https://blog.ik.am/entries/' + entry.entryId}">
            </a>
            <a data-th-if="${entry.premium}"
               data-th-href="${'http://b.hatena.ne.jp/entry/https://blog.ik.am/p/entries/' + entry.entryId}">
                <img data-th-src="${'https://b.hatena.ne.jp/entry/image/https://blog.ik.am/p/entries/' + entry.entryId}">
            </a>
        </h2>
        <p class="categories">[(${@categoriesRenderer.render(entry.frontMatter.categories)})]</p>
        <p class="tags">[(${@tagsRenderer.render(entry.frontMatter.tags)})]</p>
        <p>
            🗓&nbsp;<span class="visible-inline-on-wide">[[#{updated.label}]] </span>[[${entry.updated.date}]] by
            [[${entry.updated.name}]]&nbsp;
            <span class="visible-inline-on-wide">
            🗓&nbsp;[[#{created.label}]] [[${entry.created.date}]] by [[${entry.created.name}]]&nbsp;
            {✒️️&nbsp;<a
                    data-th-href="${'https://github.com/making/blog.ik.am/edit/master/content/' + #numbers.formatInteger(entry.entryId.toString(), 5, 'NONE') + '.md'}">[[#{edit.label}]]</a>&nbsp;
            ⏰&nbsp;<a
                    data-th-href="${'https://github.com/making/blog.ik.am/commits/master/content/' + #numbers.formatInteger(entry.entryId.toString(), 5, 'NONE') + '.md'}">[[#{history.label}]]</a>}
            </span>
        </p>
        <hr>
        <div data-th-if="${checker.caution}" class="caution">
            ⚠️ [[#{checker.caution.label}]]: [[#{checker.caution.message}]]
        </div>
        <div data-th-if="${checker.warning}" class="warning">
            🚨 [[#{checker.warning.label}]]: [[#{checker.warning.message}]]
        </div>
        <div data-th-if="${checker.danger}" class="danger">
            ☠ [[#{checker.danger.label}]]: [[#{checker.danger.message}]]
            <button class="btn" onclick="showContent(this)">[[#{checker.button}]]</button>
            .
        </div>
        <div data-th-if="${checker.quiteDanger}" class="quite-danger">
            💣 [[#{checker.quite-danger.label}]]: [[#{checker.quite-danger.message}]]
            <button class="btn" onclick="showContent(this)">[[#{checker.button}]]</button>
            .
        </div>
        <div data-th-classappend="${checker.quiteDanger ? 'opacity-3' : (checker.danger ? 'opacity-10' : '')}">
            <p>[(${@entryRenderer.render(entry)})]</p>
        </div>
        <div id="disqus_thread"></div>
        <script data-th-inline="javascript">
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            var disqus_config = function () {
                var entryId = /*[[${entry.entryId}]]*/ '100';
                this.page.url = 'https://blog.ik.am/entries/' + entryId;
                this.page.identifier = entryId;
            };

            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://blog-ik-am.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </article>
    <script>
        function showContent(elm) {
            elm.parentElement.nextElementSibling.style.opacity = 1.0;
        }
    </script>
</div>
<script id="dsq-count-scr" src="//blog-ik-am.disqus.com/count.js" async></script>
</body>
</html>