<html lang="ja" data-layout-decorate="~{layout}">
<head>
    <title>BLOG.IK.AM</title>
    <meta content="BLOG.IK.AM" name="twitter:title"/>
    <meta content="Author: Toshiaki Maki" name="Description"/>
</head>
<body>
<div data-layout-fragment="content">
    <article>
        <h2>
            [[#{entries.label}]]
            <span data-th-if="${query}">([[#{query.label}]]: [[${query}]])</span>
            <span data-th-if="${tag}">([[#{tag.label}]]: [(${@tagsRenderer.render(tag)})])</span>
            <span data-th-if="${categories}">([[#{category.label}]]: [(${@categoriesRenderer.render(categories)})])</span>
        </h2>
        <ul class="entries">
            <li data-th-each="entry : ${entries.content}">
                <span class="visible-inline-on-wide">[(${@categoriesRenderer.render(entry.frontMatter.categories)})]</span>
                <a data-th-unless="${entry.premium}"
                   data-th-href="@{'/entries/' + ${entry.entryId}}">[[${entry.frontMatter.title}]]</a>
                <a data-th-if="${entry.premium}"
                   data-th-href="@{'/p/entries/' + ${entry.entryId}}">🅿&nbsp;[[${entry.frontMatter.title}]]</a>
                <br class="invisible-inline-on-wide">
                🗓&nbsp;<span
                    class="visible-inline-on-wide">[[#{updated.label}]] </span><span>[[${entry.updated.date}]]</span>
            </li>
        </ul>
    </article>
</div>
</body>
</html>