<html lang="ja" data-layout-decorate="~{layout}">
<head>
    <title>BLOG.IK.AM</title>
    <meta content="BLOG.IK.AM" name="twitter:title"/>
</head>
<body>
<div data-layout-fragment="content">
    <article>
        <h2>
            Entries
            <span data-th-if="${query}">(Query: [[${query}]])</span>
            <span data-th-if="${tag}">(Tag: [(${@tagsRenderer.render(tag)})])</span>
            <span data-th-if="${categories}">(Categories: [(${@categoriesRenderer.render(categories)})])</span>
        </h2>
        <ul class="entries">
            <li data-th-each="entry : ${entries.content}">
                <span class="visible-inline-on-wide">[(${@categoriesRenderer.render(entry.frontMatter.categories)})]</span>
                <a data-th-unless="${entry.premium}"
                   data-th-href="@{'/entries/' + ${entry.entryId}}">[[${entry.frontMatter.title}]]</a>
                <a data-th-if="${entry.premium}"
                   data-th-href="@{'/p/entries/' + ${entry.entryId}}">🅿&nbsp;[[${entry.frontMatter.title}]]</a>
                🗓&nbsp;Updated at <span>[[${entry.updated.date}]]</span>
            </li>
        </ul>
    </article>
</div>
</body>
</html>