<html lang="ja" data-layout-decorate="~{layout}">
<head>
    <title>BLOG.IK.AM</title>
    <meta content="BLOG.IK.AM" name="twitter:title"/>
    <meta content="Author: Toshiaki Maki" name="Description"/>
</head>
<body>
<div data-layout-fragment="content">
    <article>
        <h2>
            [[#{entries.label}]]
            <span data-th-if="${query}">([[#{query.label}]]: [[${query}]])</span>
            <span data-th-if="${tag}">([[#{tag.label}]]: [(${@tagsRenderer.render(tag)})])</span>
            <span data-th-if="${categories}">([[#{category.label}]]: [(${@categoriesRenderer.render(categories)})])</span>
        </h2>
        <ul class="entries">
            <li data-th-each="entry : ${entries}">
                <span class="visible-inline-on-wide">[(${@categoriesRenderer.render(entry.frontMatter.categories)})]</span>
                <a data-th-href="@{'/entries/' + ${entry.entryId}}">[[${entry.frontMatter.title}]]</a>
                <br class="invisible-inline-on-wide">
                <a data-th-href="${'http://b.hatena.ne.jp/entry/https://blog.ik.am/entries/' + entry.entryId}"><img
                        data-th-src="${'https://b.hatena.ne.jp/entry/image/https://blog.ik.am/entries/' + entry.entryId}"></a>
                🗓&nbsp;<span
                    class="visible-inline-on-wide">[[#{updated.label}]] </span><span>[[${entry.updated.date}]]</span>
            </li>
        </ul>
        <script>
            (function () {
                var cached = {};
                document.querySelectorAll('.entries span + a').forEach(function (elm) {
                    var url = this.href;
                    var prefetch = function () {
                        if (!cached[url]) {
                            var r = new XMLHttpRequest();
                            r.open('GET', url + '?prefetch', true);
                            r.send(null);
                            cached[url] = true;
                        }
                    };
                    elm.addEventListener('mouseover', prefetch);
                    elm.addEventListener('touchstart', prefetch);
                });
            })();
        </script>
    </article>
</div>
</body>
</html>