<html data-layout-decorate="~{layout}">
<head>
    <title>BLOG.IK.AM</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}"/>
</head>
<h1>📝&nbsp;<a data-th-href="@{/}">BLOG.IK.AM</a></h1>
<p><a href="https://twitter.com/making">@making</a>'s memo</p>
<body>
<div data-layout-fragment="content">
    <article>
        <h2>
            🅿&nbsp;Not Implemented
        </h2>
        <p data-th-with="url='https://blog.ik.am/p/entries/' + ${entryId}">
            I'm sorry but premium page is not implemented yet.<br>
            Please go back to old blog (<a data-th-href="${url}">[[${url}]]</a>).
        </p>
    </article>
</div>
</body>
</html>